@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #EEE9DD; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #EEE9DD; /* Thumb color */
  border-radius: 5px; /* Border radius of the thumb */
  border: 2px solid #EE9B8D; /* Border color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #EE9B8D; /* Thumb color on hover */
}
